*  {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:white;
    
}

header {
    padding: 2rem 2rem 2rem 2rem;
    background-color: white;
    color: black;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
  }
  section {
    display:block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
  }


nav {
    overflow:auto;
    background-color:firebrick;
    position: relative;
    border-style: solid;
}

a {
    display: block;
    float: left;
    color: white;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
    text-decoration: none;
}

a:hover {
    background-color: #17242a;
}
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    background-color: firebrick;
    color: white;
    border-top: 3px solid black;
}

/*PRODUCTS_PAGE*/
.products-aside{
    float:left;
    border-style: solid;
    padding: 20px 10px 30px 10px;
    border-width: 8px;
    border-radius: 10px;
}

.products-container{
    display:flex;
    /*flex:wrap;*/
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.product-card{
    display:block;
    flex-basis: 25%;

    margin: 10px 0pc 10px 0px;
    text-align: center;
}

.products-container > a{
    color:black;
    border-radius: 10px;
}

.products-container > a:hover{
    color:white;
}


.newspaper {
    column-count: 5;
    column-gap: 20px;
    column-rule: none;
    margin-left: 20px;
    margin-right: 20px;
}    

